#feed {
    margin: 35px;
}

@media (max-width: 600px) {
    .article-image img {
        width: 150px;
        height: 100px;
    }

    #feed a {
        font-size: 15px;
    }

    .text-muted {
        font-size: 13px;
    }
}

@media (max-width: 775px) {
    .description {
        display: none;
    }

    .text-muted {
        margin-top: 8px;
    }
}

