#goal {
    margin: 50px 20px 0px 20px;
}

ul li {
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    list-style-type: none;
    transition: 0.2s;
}

li:hover {
    cursor: pointer;
    background-color: slategrey;
    height: 30px;
    padding-top: 1px;
    padding-left: 8px;
}

li:hover > .text-muted {
    color: white;
}

.text-muted {
    margin-left: 15px;
    color: gray;
    opacity: 0.8;
}

form {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

