ul li {
    margin-bottom: 10px;
    font-size: 20px;
    list-style-type: none;
    transition: 0.3s;
}

li:hover {
    cursor: pointer;
    background-color: slategrey;
    height: 30px;
    padding-top: 1px;
    padding-left: 8px;
}

li:hover > .text-muted {
    color: white;
}

.text-muted {
    margin-left: 15px;
    color: gray;
    opacity: 0.8;
}

form {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

input[type=radio] {
    height: 1em;
    width: 20px;
}

#radio {
    margin-top: 8px;
}

#radio #public {
    margin-left: 40px;
}
