#logo {
    text-align: center;
}

@media (max-width: 751px) {
    #logo img {
        width: 100px;
        height: 120px;
    }

    #chart-line {
        margin-top: 30px;
    }

    #chart-pie {
        margin-top: 30px;
    }

    .stat {
        text-align: center;
        margin-top: 25px;
    }
}

@media (min-width: 768px) {
    .row {
        margin-top: 80px;
    }

    .button-followed {
        margin-left: 10px;
    }
}

.circle {
    object-fit: cover;
    border-radius:50%;
    width: 150px;
    height: 150px;
}
