* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    color: white;
}

body {
    min-height: 100vh;
    background-image: url("../images/cosmos5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    margin: 50px 0px 50px 0px;
    width: 85%;
    height: 50%;
    min-height: 85vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
    position: relative;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 5fr;
    margin: 20px;
    height: 40px;
}

#login {
    text-align: end;
}

nav div a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#active {
    border-bottom: 2px solid pink;
}

input {
    height: 30px;
    width: 250px;
    margin-bottom: 50x;
    padding-left: 10px;
    border: 2px solid pink;
    border-radius: 60px;
    background-color: transparent;
}

button {
    border: 2px solid pink;
    border-radius: 60px;
    padding: 8px 13px 8px 13px;
    background-color: transparent;
    margin-top: 10px;
    height: 33px;
    width: 90px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

input:focus {
    outline: none;
}