#profile ul {
    list-style-type:none;
}

#profile {
    margin: 20px;
}

#profile ul li {
    font-size: 20px;
    margin-bottom: 8px;
}

img {
    border-radius: 1rem;
}

#profile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 50px;
}

#stat div {
    text-align: center;
}

progress {
    margin-left: 10px;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid black;
    border-radius: 30px;
}
/* Chrome */
progress::-webkit-progress-value {
    background: pink;
    border-radius: 30px;
}
progress::-webkit-progress-bar {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

#quote {
    position: absolute;
    bottom: 25px;
}